@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .touch-action-none {
    touch-action: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
    background-color: #f8fafc;
    color: #1e293b;
    font-family: 'Inter', sans-serif;
}
